:root {
  --cor-fundo:  #EFEDED;
  --azul-claro: #04A4D4;
  --azul-escuro: #1E5E71;
  --amarelo: #F99100;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-wrap: pretty;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 1rem 2rem .5rem;
  align-items: center;
}

header ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.quem-somos {
  color: var(--azul-claro);
  font-weight: 500;
}

.botao {
  color: #fff;
  background-color: var(--azul-claro);
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-weight: 600;
}

.botao--mod {
  background-color: var(--amarelo);
}

.background {
  background-color: var(--cor-fundo);
}

.container {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 3rem;
  max-width: 1200px;
  margin: auto;
  height: 90vh;
}

.container--sobre {
  gap: 10rem;
}

.container img {
  width: min(450px, 100%);
}

h1 {
  font-size: 3.5rem;
  color: var(--azul-claro);
  font-weight: 800;
}

.paragrafo {
  font-size: 2rem;
  margin-top: 1rem;
  color: var(--azul-escuro);
  font-weight: 500;
}

.paragrafo--mod {
  color: var(--amarelo);
}

.paragrafo--size {
  max-width: 32rem;
}

h2 {
  color: var(--amarelo);
  font-size: 3rem;
  max-width: 30rem;
}

.img-termometro {
  max-width: 24rem;
}

.missao {
  text-align: center;
  padding: 6rem;
  font-size: 2rem;
  color: var(--azul-claro);
  font-weight: 700;
}

.kit h3 {
  font-size: 2.5rem;
  color: var(--azul-escuro);
}

.kit ul {
  margin: 1rem 0 2rem;
  font-size: 1.5rem;
  color: var(--azul-escuro);
  list-style-position: inside;
}

.kit li {
  margin-bottom: .5rem;
}

.botao--size {
  font-size: 1.5rem;
}

.ir-mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

.ir-mapa h3 {
  font-size: 2.5rem;
  color: var(--amarelo);
}

.ir-mapa img {
  max-width: 10rem;
  margin: 2rem;
}

footer {
  text-align: center;
  padding: 5rem;
  color: var(--azul-escuro);
}